body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}

p {
    display: flex;
    padding: 2rem 2rem;
    text-align: center;
    align-content: center;
    color: black;
}

#sobre img {
    size: 2rem;
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

h1 {
    font-family: cursive;
    padding: 5px;
    border-style: hidden;
    border-color: #05021f24;
    color: black;
    border-radius: 10px;
    box-shadow: -12px 11px 0em 9px black;
}

h2 {
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.foto-home {
    padding: 0px;
    border-radius: 30%;
    box-shadow: 0 0 1em black;
}

.bloco img {
    max-width: 50px;
    max-height: 50px;
}

.rolagem {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sections {
    transition: all .4s;
}

.layout {
    display: flex;
    align-content: center;
    text-align: center;
    list-style: none;
}

.links {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
}

.links label {
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-size: 100%;
}

.links label:hover {
    background-color: rgba(255, 255, 255, .2)
}

.rolagem input {
    display: none;
}

.bloco {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;
}

#home {
    background-color: #23374d;
    background-image: url(imagens/Commit.png);
    background-size: 20em;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 200%;
}

#sobre {
    background-color: #315b96 ;
}

#sobre p {
    padding: 0px 130px;
}

#Conhecimentos {
    display: grid;
    background-color: #3e64ff;
}

#formacao {
    display: grid;
    background-color: #1089ff;
}

#formacao p {
    align-content: center;
    padding: 10px 130px;
}

#contatos {
    display: grid;
    background-color: #5edfff;
}

#contatos img {
    padding: 20px;
}

#rd_sobre:checked~.sections {
    margin-top: -100vh;
}

#rd_conhecimentos:checked~.sections {
    margin-top: -200vh;
}

#rd_formacao:checked~.sections {
    margin-top: -300vh;
}

#rd_contatos:checked~.sections {
    margin-top: -400vh;
}